@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Jost&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@import "tailwindcss";

:root {
  /* --font-serif-display: "DM Serif Display", serif; */

  --color-primary-color: hsla(25, 100%, 55%, 1);
  --color-soft-orange: hsla(29, 100%, 70%, 1);
  --color-light-orange: hsla(29, 100%, 88%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-soft-gray: hsla(220, 14%, 96%, 1);
  --color-dark-orange: #543a26;
  /* --color-dark-orange: hsl(25, 67%, 30%); */
  /* --color-dark-orange: hsl(25, 100%, 39%); */

  --color-primary-blue: hsla(208, 79%, 51%, 1);
  --color-soft-blue: hsla(207, 89%, 68%, 1);
  --color-light-blue: hsla(205, 87%, 94%, 1);

  --color-text-color: hsla(215, 28%, 17%, 1);
  --color-text-dark-grey: hsla(215, 14%, 34%, 1);

  --color-icon-text: hsla(0, 0%, 38%, 1);

  font-family: "Inter", sans-serif;
  color: var(--color-white);

  --font-family-footer: "Jost", sans-serif;
  --font-family-body: "Inter", sans-serif;
  --font-family-heading: "Island Moments", cursive;
  --font-family-footer-text: "Poppins", sans-serif;
}

@theme {
  --color-primary-color: hsla(25, 100%, 55%, 1);
  --color-soft-orange: hsla(29, 100%, 70%, 1);
  --color-light-orange: hsla(29, 100%, 88%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-soft-gray: hsla(220, 14%, 96%, 1);
  --color-dark-orange: hsl(25, 100%, 39%);

  --color-primary-blue: hsla(208, 79%, 51%, 1);
  --color-soft-blue: hsla(207, 89%, 68%, 1);
  --color-light-blue: hsla(205, 87%, 94%, 1);

  --color-text-color: hsla(215, 28%, 17%, 1);
  --color-text-dark-grey: hsla(215, 14%, 34%, 1);

  --color-icon-text: hsla(0, 0%, 38%, 1);
}

@layer base {
  .navText {
    @apply text-text-color text-[16px] leading-6 font-medium max-[790px]:text-2xl max-[790px]:text-white;
  }
  .footerText {
    font-family: var(--font-family-footer);
    @apply text-white text-2xl leading-9 max-[830px]:text-[20px];
  }

  .footerNavText {
    font-family: var(--font-family-footer-text);
    @apply text-[12px] leading-5;
  }
}

@layer components {
  .productStyle {
    font-family: var(--font-family-heading);
    @apply text-primary-color;
  }

  .maxWidth {
    @apply max-w-[93%] mx-auto;
  }
}
